<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.santi.inriegoapp">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/Collapse"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EstablecimientoActivity">
            <intent-filter>
                <action android:name="android.intent.action.Establecimiento" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".EnvioMailActivity">
            <intent-filter>
                <action android:name="android.intent.action.Mail" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PivotActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:parentActivityName=".EstablecimientoActivity">
            <intent-filter>
                <action android:name="android.intent.action.Pivot" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".GridActivity">
            <intent-filter>
                <action android:name="android.intent.action.Grid" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".SegundoPlano" />

        <activity android:name=".AgregarLluviaActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:parentActivityName=".PivotActivity" >


        </activity>

        <activity android:name=".AgregarRiegoActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:parentActivityName=".GridActivity" >


        </activity>
        <service
            android:name=".Servicio"
            android:enabled="true"
            android:exported="true">
        </service>
        <receiver android:name=".IniciadorServicio">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED">
                </action></intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
</manifest>